body {
    background: lightyellow;
}

h1 {
    color: darkred;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav > ul {
    display: inline;
}

nav > ul > li{
    display: inline;
    margin: 20px;
    text-align: center;
}

a {
    color: darkslategrey
}

.pub > h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #025157;
}

.pub > p {
    color: #343434
}

h2 {
    color: darkgoldenrod;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px dotted rebeccapurple;
    margin: 10px;
}

.container-flex > h2 {
    background: lightgray;
}

.item-article {
    width: 200px;
    height: 200px;
    background: lightpink;
}

footer {
    color: green;
}