h1 {
    color: darkred;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav > ul {
    display: inline;
}

nav > ul > li{
    display: inline;
    margin: 20px;
    text-align: center;
}

a {
    color: darkslategrey
}

h2 {
    color: darkgoldenrod;
}

footer {
    color: green;
}